#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=JupyterLab
Exec=/usr/bin/chromium-browser --profile-directory=Default --app-id=nmjkbfkcjpemjeeipomkicbjanjdhbkd
Icon=chrome-nmjkbfkcjpemjeeipomkicbjanjdhbkd-Default
StartupWMClass=crx_nmjkbfkcjpemjeeipomkicbjanjdhbkd
